header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  background: white;
  border-bottom: 1px solid black;
  z-index: 1;
  width:100%;
  height: 80px;
  align-items: center;
  margin-top: 0;
}
header nav{
  padding-left: 700px;
}
a{
  color:black;
}
nav span{
  display: inline-block;
  padding: 20px 10px;
}
.image{
  display: flex;
  color: MediumAquamarine;
  align-items: center;
  padding-left: 30px;
}
.image span{
  align-items: center;
  padding-left: 5px;
}
.container{
  display: flex;
  padding-top: 100px;
  font-family: Georgia;
}
.columnlarge{
  display: flex;
  width: 630px;
  flex-direction: column;
}
.tuna{
  display: block;
}
.story{
  width:250px;
  display: flex;
  flex-direction: column;
}
.columnmedium{
  display: flex;
  width: 300px;
  flex-direction: column;
}
.columnsmall{
  display: flex;
  width: 240px;
  flex-direction: column;
}
.tunaimage {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: center;
  padding: 20px 20px;
  display: flex;
}
.fallimage{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 20px 20px;
  display:flex;
  width: 250px;
  height:250px;
}
.cameraimage {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px 20px;
    display: flex;
    width: 250px;
    height: 250px;
}
.catsimage{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 250px;
  width: 250px;
  text-align: center;
  padding: 20px 20px;
  display: flex;
}
